/* You can add global styles to this file, and also import other style files */
html, body {
  background-color: #212529!important;
}

span, p, h1, h2, h3, h4 {
  color: #DEE2E6!important;
}

footer {
  margin-top: 10px
}

pointer {
  cursor: pointer;
}
